@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap');


.App {
  text-align: center;
  font-family: 'Kumbh Sans', cursive;
  background-color: hsl(0, 0%, 10%);
  color: #ffffff;
  
}

